<!-- <div [innerHtml]="myTemplate | safe: 'html'"></div> -->

<div id="gameContainer"></div>
<div id="loader">
  <!-- <img class="logo" src="assets/img/gallery/bgnetapp.jpg"> -->
  <!-- <div class="spinner"></div> -->
  <div class="progress">
    <div class="full"></div>
  </div>
</div>

<!-- <ng-template #content let-modal>
  <div class="modal-headers">
    <h4 class="modal-title" style="margin-left: 10px;font-weight: 500;">
    </h4>
    <button style="
    margin-right: 10px;
    margin-top: 5px;
    border: none;" type="button" class="close" aria-label="Close" (click)="closeModal('Cross click')">
      <span style="font-size: 32px;" aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" style="margin-left: 3px;margin-top: 1px;width: 107%;">
    <div class="form-body filetop">
      <div class="row">
        <app-upload></app-upload>
      </div>
    </div>
  </div>
</ng-template> -->